.scorebar-submenu
{
    display: none;
}

.scorebar-mainelt:hover > ul
{
    display: block;
}

.scorebar-menu
{
}

body 
{
    background-image: url('img/background.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

nav
{
    background-color: #4A5294;
    border: 1px solid #dedede;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.055);
    color: #888;
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    width: 215px;
    font-family: arial, sans-serif;
    font-weight: bold;
    text-decoration: none;
}