.scorebar-submenu
{
    display: none;
}

.scorebar-mainelt:hover > ul
{
    display: block;
}

.scorebar-menu
{
}

body 
{
    background-image: url('img/background.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}